@page
@model UVASurplus.Pages.Requests.Items.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].AssetTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].ItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].EquipmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssetTag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
